
.hero-image img  {width:80%;height:500px;object-fit:cover; display: block; margin: 0 auto;text-align: center;}
.hero-image-flora img {width: 100%;height: 650px;object-fit: cover;position:relative}
.galeria {display: flex;justify-content: center;gap: 20px;}
.galeria img {width: 25%;height: 400px;object-fit: cover;}
 